.txt-white {
    color: white;
}

.theme-dark {
    background-color: #1f2937;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    padding: 36px 100px 36px 100px;
    gap: 50px;
    height: 50vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.container-about {
    font-family: hero;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
}

.about-img img{
    display: flex;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
}

.about-text {
    font-size: 24px;
    color: #F9FAF8;
}

.container-about h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.container-about button {
    padding: 15px 25px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    border: 0;
    font-weight: bold;
}

.first {
    gap: 25px;
    align-items: flex-start;
    
}

.second-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.info {
    font-size: 64px;
    color: #1F2937;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 30px;
    flex-wrap: wrap;
    height: 50vh;
}

.card {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.card img {
    width: 100%;
    height: auto;
    border: 2px red sold;
    border-radius: 16px;
}

.card p {
    text-align: center;
    font-size: 32px;
}

.third.flex-center {
    flex-direction: column;
    background-color: #E5E7EB;
    height: 50vh;
}

.fourth {
    height: 50vh;
}

.cta-card {
    background-color: #3882f6;
    border-radius: 16px;
    padding: 80px;
    gap: 16px;
}

.cta p{
    font-size: 24px;
}

.bold {
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 12px;
}

.author {
    align-self: flex-start;
}

.wrapper {
    width: 100ch;
}

footer div{
    padding: 20px;
}

.cta-button {
    border: 2px white solid;
    color: white;
    background-color: #3882f6;
    padding: 20px 30px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
}